/* ------------ License ------------ */
// BSD 3-Clause License
//
// Copyright (c) 2021, Seongmin Kim
// All rights reserved.
/* --------------------------------- */

package jwt_maker

var secretKey = []byte("Your Secret Key")
var accessKey = "Your Access Key"